# files to not track
*.docx
*.png
*.aux
*.bbl
*.blg
*.dvi
*.log
*.synctex.gz
*.pdf
*.xlsx
*.tif
*.pptx
*.svg
*.jpg

# git shortcut bat files
AddCommitPush.bat
PullFromGithub.bat
Search_Contents.bat

# directories to not track
archive/